CompileFlags:
  Add:
    - "-std=c++20"
    - "-xc++"
    - "-Werror"
    - "-Wall"
    - "-Wshadow"
    - "-Wunreachable-code"
    - "-pedantic"
    - "-I/usr/include/llvm"
    - "-I../../liblunac/include"
Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict