CompileFlags:
  Add:
    - "-std=c23"
    - "-xc"
    # - "-Werror"
    # - "-Wall"
    # - "-Wshadow"
    # - "-Wunreachable-code"
    # - "-pedantic"
    - "-I/usr/include/llvm"
    - "-I/home/eclipse/projects/Luna/liblunac/include"
Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict